/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 50px;
}

h2 {
    color: #333;
}

form {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Style for the first paragraph */
p.sqft-info {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: inline-block;
}

/* Style for the second paragraph */
p.price-info {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: inline-block;
}


@media (max-width: 600px) {
    body {
        margin: 20px;
    }
    
    h2 {
        font-size: 24px;
    }
}